---
import * as dotenv from 'dotenv'

dotenv.config()

const response = await fetch(process.env.API_URL+'/api/project-cards?populate=cardImage.image')
const data = await response.json()
const cardData = data.data
---

{ cardData.filter(card => card.attributes.highlight === true).map(card => {
    const cardContent = card.attributes
    const cardImage = process.env.API_URL+card.attributes.cardImage.data.attributes.formats.medium.url
    return <article>
            <div class="flex bg-red-500 rounded-md flex-col mb-8">
                <div>
                    <img class="rounded-md" src={cardImage}>
                </div>
                <div class="p-4 flex flex-col">
                    <h3 class="text-5xl mb-4">{cardContent.title}</h3>
                    <div>
                        { cardContent.techstack.map(tag => {
                            return <span class="text-md bg-gray-200 rounded-md px-3 py-2 mr-2">{tag}</span>
                        })}
                    </div>
                    <p class="text-md mt-4">{cardContent.description}</p>
                    <a href={cardContent.link} class="bg-gray-200 rounded-md px-3 py-2 mt-4 flex w-32 justify-center">View Project</a>
                </div>
            </div>
        </article>
    })
}